@import "tailwindcss";


button, a, input[type="file"] {
  cursor: pointer;
}


/* --- Theme Colors --- */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* --- Global Default Layout --- */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

/* --- UI Reusable Classes --- */
.inputField {
  @apply w-full bg-gray-800/50 p-3 rounded-lg outline-none border border-transparent
  focus:border-blue-500 transition placeholder-gray-400 text-white;
}

.ticketCard {
  @apply p-4 rounded-xl bg-gray-800/60 hover:bg-gray-700 cursor-pointer 
  border border-gray-700 transition;
}

.statusTag {
  @apply px-2 py-1 text-xs rounded text-white font-medium;
}
